.header {
    display: flex;
    background: white;
    width: 100%;
    box-shadow: 0px 2px 2px lightgrey;
    padding: 15px 10px;
}

.filters_wrapper {
    display: flex;
    width: 100%;
    background: #fd6f56;
    color: white;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    padding: 9px 0;
    position: fixed;
    bottom: 0;
}

.popular_properties_wrapper {
    background: #3C406E;
    color: white;
    padding: 15px;
    font-family: Open Sans;
}

.listing_contents {
    background: #f1f1f1;
    padding: 25px 25px 160px 25px;
}

.single_list {
    border-radius: 4px;
    box-shadow: 0px 2px 2px lightgrey;
    margin-bottom: 15px;  
}

.single_list > img {
    border-radius: 4px 4px 0 0;
}

.form_headline {
    background: #55c4aa;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.touch_button {
    background: #fd6f56;
    outline: none;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 14px;
    width: 100%;
    border-radius: 0;
}

.modal-dialog {
    bottom: 0;
    position: fixed;
    width: 100vw;
    margin: 0;
}

.listing_bottom {
    padding: 32px 0 22px 0;
}

.fa, .fa-search {
    color: #fd6f56;
}