header {
    display: block;
}

.select_this_room {
    border: 1px solid #32b496;
    outline: none;
    background: white;
    padding: 7px 25px;
    color: #32b496;
}

.selected_room_summary {
    padding: 18px 15px 0 15px;
    background: white;
    border: 1px solid;
    margin-top: 22px;
}

.new_offer_section {
    border: 1px solid;
    width: 300px;
    height: 200px;
    position: absolute;
    right: 20px;
    top: 95px;
}

.request_button {
    border: none;
    outline: none;
    padding: 8px;
    background: #fd6f56;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.new_offer_section img {
    position: relative;
    bottom: 50px;
    right: 22px;
}

.street_view_desktop {
    font-family: Open Sans;
    color: #fd6f56;
    cursor: pointer;
}

.contact_form_wrapper_desktop {
    background-color: #f5f6f6;
    padding: 25px;
    box-shadow: 2px 2px lightgrey;
    margin: 70px 0;
}

.number_buttons {
    border: none;
    outline: none;
    background-color: #26d4ac;
    width: 250px;
    padding: 13px;
    margin: 12px 50px auto;;
    border-radius: 35px;
    box-shadow: 2px 4px 5px #4c766c;
}

.empty_divs {
    height: 100px;
    width: 1px;
    border: 1px solid;
    margin: 0px 30px;
}

.street_text {
    color: #FD6F56;
    font-size: 12px;
    text-align: center;
}

label {
    font-size: 13px;
    margin-bottom: 2px;
    font-family: Open Sans;
}

input[type="text"] {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    height: 40px;
    padding: 4px 6px;
    width: 100%;
}

textarea {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 4px 6px;
    resize: none;
}

li, p, h4, h5, h6 {
    font-family: Open Sans;
}

.overview_wrapper {
    display: block;
}

img {
    border-radius: 4px;
}

.breadcrumb_row {
    margin: 115px 0 0 0;
}

.breadcrumb_row p {
    font-size: 12px;
    margin: 0;
}

.menubar_wrapper {
    border-bottom: 1px solid #EAEAEA;
    margin: 15px 0 32px 0;
}

.offer_on_top_desktop {
    font-size: 14px;
    font-family: Open Sans;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}

.offer_at_room_category_desktop {
    display: flex;
    font-size: 12px;
    font-family: Open Sans;
    border: 1px solid;
    padding: 10px;
    background: #3ecab8;
    color: white;
    font-weight: bolder;
}

.offer_at_room_category_desktop img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.offer_on_top_desktop li {
    margin: 0 0 6px 0;
}

td, th {
    font-size: 13px;
    font-family: Open Sans;
    padding: 10px 0 !important;
}

th {
    font-weight: 400;
}

.amenity_image {
    margin-right: 5px;
}

.menubar_ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.menubar_ul li {
    display: inline-block;
    margin: 8px 10px auto;
    font-size: 13px;
    padding: 10px 0;
    font-family: Open Sans;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 18px;
    cursor: pointer;
}

.styled_list {
    color: #46267C;
    border-bottom: 2px solid #46267C;
    font-weight: bolder;
}

.prop_name {
    margin: 10px 0;
    color: #30343f;
    font-family: MontSerrat;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .1px;
    line-height: 29px;
}

.prop_address {
    color: #46267c;
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 19px;
    margin: 0 0 14px 0;
}

.prop_offer {
    font-family: Open Sans;
    font-size: 16px;
    background-color: #2cbaa0;
    color: #fff;
    width: auto;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    margin: 15px 0;
}

.carousel-control-next {
    background: #fd6f56;
    opacity: 1;
    height: 30px;
    border-radius: 4px;
    top: 45%;
    right: -2%;
    width: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 10px;
}

.carousel-control-prev {
    background: #fd6f56;
    opacity: 1;
    height: 30px;
    border-radius: 4px;
    top: 45%;
    left: -2%;
    width: 30px;
}

.normal_headings {
    color: #626262;
    font-family: Open Sans;
    font-size: 13px;
    letter-spacing: .1px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
}

.property_desc_heading {
    color: #282b2e;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 24.9px;
    margin: 10px 0 7px 0;
}

.about_property {
    color: #6b737a;
    font-family: Open Sans;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 24.9px;
    margin-bottom: 7px;
    text-align: justify;
}

.section_headings {
    color: #282b2e;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 24.9px;
    margin: 15px 0 8px 0;
}

.room_type_wrapper {
    background-color: #f1f1f1;
    margin: 40px 0;
    padding: 18px;
    border-radius: 4px;
}

.room_category_wrapper {
    margin: 32px 0;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
}

select {
    outline: none;
    height: 40px;
    border: 1px solid;
    padding: 0 6px;
    font-size: 14px;
    font-family: Open Sans;
}

.tenancy_listing li {
    font-size: 13px;
    font-family: Open Sans;
    margin: 0 0 10px 0;
    border: 1px solid;
    padding: 10px 4px;
    cursor: pointer;
}

.tenancy_listing li:hover {
    background-color: #FD6F56;
    color: white;
}

.active_tenancy {
    background-color: #32B496;
    color: white;
    border: 1px solid #32B496;
}

.enquire_button {
    outline: none;
    border: 1px solid #FD6F56;
    color: #FD6F56;
    padding: 8px 12px;
    font-family: Open Sans;
    background-color: white;
    margin: 0 0 8px 0;
    font-size: 14px;
}

.book_button {
    outline: none;
    border: 1px solid #FFF;
    color: #32b496;
    padding: 8px 20px;
    font-family: Open Sans;
    background-color: white;
    margin: 0 0 8px 0;
    font-size: 14px;
    border: 1px solid #32b496;
}

.compare_button {
    outline: none;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 8px 12px;
    font-family: Open Sans;
    background-color: #FD6F56;
    margin: 0 0 8px 0;
    font-size: 14px;
}

.room_price {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 22px;
    margin: 0;
}

.offer_image_wrapper {
    position: relative;
    text-align: center;
    color: white;
}

.offer_description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

.sa_image_wrapper {
    background-color: black;
    border-radius: 4px;
}

.sa_image {
    opacity: 0.6;
    border-radius: 4px;
    cursor: pointer;
}

.sa_price_wrapper {
    margin-top: 7px;
    cursor: pointer;
}

.sa_price_wrapper span {
    color: #32b496;
    font-weight: bolder;
}

.sa_name {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.desktop_only {
    display: block;
}

.mobile_only {
    display: none;
}

.footer_desktop {
    display: block;
}

.book_pro_wrapper {
    display: flex;
}

.single_step_wrapper {
    text-align: center;
    background: #f1f1f1;
    border-radius: 4px;
    box-shadow: 2px 2px 2px lightgrey;
    padding: 10px 0;
}

@media only screen and (max-width: 992px) {
    header {
        display: none;
    }

    .footer_desktop {
        display: none;
    }

    .about_property_pwa {
        font-size: 14px;
        font-family: Open Sans;
        text-align: justify;
    }

    .tenancy_book {
        position: absolute;
        right: 25px;
    }

    .offer_at_tenancy_level {
        margin: 12px 0;
        display: flex;
    }

    .offer_desc_pwa {
        position: relative;
        top: 8px;
        left: 10px;
    }

    .street_view {
        color: #FFF;
        padding: 8px 12px;
        text-align: center;
        font-family: Open Sans;
        background-color: #00B8A0;
        margin: 0;
        font-size: 18px;
        display: none;
    }

    .overview_wrapper {
        display: none;
    }

    .desktop_only {
        display: none;
    }

    .mobile_only {
        display: block;
    }

    img {
        border-radius: 0;
    }

    .menubar_pwa li {
        padding: 20px 20px 10px 20px;
    }

    .nearby_uni_wrapper_pwa {
        background-color: #FFF;
        padding: 20px 0;
    }

    .single_nearby_card {
        background-color: #F5F6F6;
        padding: 16px;
        display: inline-block;
        margin: 0 16px 0 0;
        border-radius: 7px;
        box-shadow: 2px 2px rgba(0,0,0,0.1);
    }

    .facilities_wrapper_pwa {
        margin: 24px 0 0 0;
        padding: 24px 0;
        background-color: #F5F6F6;
    }

    .single_facility_wrapper {
        margin: 0 0 12px 0;
    }

    .amenity_icon {
        width: 28px;
        margin-right: 6px;
    }

    .types_wrapper_pwa {
        display: flex;
        text-align: center;
    }

    .single_room_type_heading_selected {
        border: 1px solid #FD6F56;
        padding: 12px 25px;
        margin-right: 7px;
        background: #fd6f56;
        color: white;
    }

    .single_room_type_heading {
        border: 1px solid #FD6F56;
        padding: 12px 25px;
        margin-right: 7px;
        background: white;
        color: #282B2E;
    }

    .offer_wrapper_pwa {
        font-family: Open Sans;
        font-weight: 700;
        color: black;
        text-align: center;
        border: 1px solid #2bf3b6;
        box-shadow: 3px 3px lightgrey;
    }

    .tenancy_options_pwa {
        padding: 14px;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        border-radius: 4px;
        margin-bottom: 27px;
        background-color: white;
    }

    .single_room_type_dec_wrapper {
        margin: 20px 0 32px 0;
        padding: 14px 0;
    }

    .starts_at {
        margin-left: 35px;
        font-size: 14px;
        color: #fd6f56;
    }

    .room_price_pwa {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: .1px;
        line-height: 22px;
        margin: 0;
    }

    .single_available_tenancy {
        margin: 20px 0;
    }

    .single_house_wrapper {
        height: 180px;
        width: 300px;
        margin-right: 24px;
        background: #f1f1f1;
        padding: 10px;
    }
    .similar_house_slider {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 34px;
        display: flex;
    }

    .similar_house_name {
        margin: 0 0 4px 0;
        font-size: 16px;
    }

    .starting_price {
        margin: 0 0 4px 0;
        font-size: 14px;
    }

    .span_price {
        color: #3F3C66;
        font-weight: bolder;
    }

    .fixed_button {
        position: fixed;
        bottom: 0;
        text-align: center;
        background-color: #FD6F56;
        padding: 12px 0;
        color: white;
        font-size: 16px;
        width: 100%;
    }

    .offer_button_pwa {
        font-size: 17px;
        border: 1px solid #33e7c9bf;
        text-align: center;
        padding: 4px 5px;
        margin: 10px 0 15px 0;
        box-shadow: 2px 2px lightgrey;
    }

    .offer-modal {
        bottom: 0px;
        position: absolute;
        width: 100%;
        margin: 0;
    }

    .payment_details_pwa {
        margin: 0 0 22px 0;
    }

    .sliding_indication {
        width: 65px;
        height: 40px;
        background: #fff;
        border: 1px solid #fd6f56;
        text-align: center;
        box-shadow: -10px 3px 15px lightgrey;
        color: black;
        position: absolute;
        right: 0;
        top: 50px;
        padding: 10px 0;
        border-radius: 24px 0 0 24px;
    }

    .contact_wrapper {
        margin-bottom: 80px;
        background-color: #55b39d;
        color: white;
        padding: 25px 0;
    }

    .contact_wrapper h2 {
        font-size: 26px;
        font-weight: 700;
    }

    .contact_number {
        background-color: #26d4ac;
        margin-bottom: 14px;
        padding: 18px;
        border-radius: 35px;
        box-shadow: 2px 4px 5px #4c766c;
    }

    .single_room_type_heading_selected:after {
        content: '';
        width: 23px;
        height: 23px;
        background: #fd6f56;
        position: absolute;
        left: 57px;
        transform: rotate(45deg);
        top: 37px;
    }
}